@import '@/style/variables.scss';
footer{
    #shop-shortcut-section{
        background: $blue-color;
        color: $text-primary-color;
        > div{
            padding: 30px;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    .shortcut-icon{
                        width: 45px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    
    #footer-links-section{
        height: 420px;
        background: url('../assets/footer-bg.jpg');
        background-size: cover;
        color: $text-primary-color;
        >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .links-lists{
                display: flex;
                >div{
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    h3{
                        font-size: 20px;
                        margin: 15px 0;
                    }
                    li{
                        margin: 5px 0;
                        color: $text-tertiary-color;
                    }
                }
            }
            #dc-logo{
                display: flex;
                align-items: center;
                max-height: 420px;
                overflow: hidden;
                img{
                    width: 600px;
                }
            }
        }
    }
    
    #footer-socials-section{
        background: #303030;
        padding: 30px;
        >.container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .button{
                color: $text-primary-color;
                font-size: 20px;
                padding: 10px;
                border: 2px solid $blue-color;
                cursor: pointer;
                transform: all 1.5s;
                &:hover{
                    transform: scale(1.05);
                }
            }
            >div{
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    color: $blue-color;
                    font-size: 20px;
                    cursor: pointer
                }
            }
        }
    }
}