// font
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif
}

// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// reset ul style
ul{
    list-style: none;
}
li{
    cursor: pointer;
}
// container
.container{
    width: 1200px;
    margin: 0 auto;
}