// import variables
@import './variables.scss';
// font
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif
}

// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// reset ul style
ul{
    list-style: none;
}
li{
    cursor: pointer;
}
// container
.container{
    width: 1200px;
    margin: 0 auto;
}

//button
.button{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 25px;
    display: inline-block;
    background: $blue-color;
}